body {
    background: #fff;
}

.app-layout {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    background: #e6f2ff;
    max-width: 450px;
}

.app-layout main {
    display: flex;
    flex-direction: column;
}

i.material-icons {
    max-width: 24px;
}

.color-buttons {
    display: flex; 
    justify-content: space-between;
}

.mic-button, 
.power-button {
    text-align: center;
}

.mic-button {
    margin-top: 2pc;
} 

.power-button {
    margin-bottom: 2pc;
}

.hidden {
    /*display: none;*/
    visibility: hidden;
}

.title-and-connect {
    display: inherit;
    justify-content: space-between;
    align-items: flex-start;
/*    flex-wrap: wrap;*/
    flex-direction: row;
    /*flex-grow: 0;*/

<<<<<<< HEAD
    padding-top: 10px;
    padding-bottom: 10px;
=======
    padding-top: 20px;
    padding-bottom: 20px;
>>>>>>> 9373e6bafbc8615b197a38b0525bf49cf3cb182c
    /*width: 300px;*/
}

.connect-another-icon {
/*    top: 17px !important;
    left: 4px !important;
    margin-left: -10px !important;
    position: relative !important;
    float: right !important;*/
}
.title-title {
    /*margin-left: 10px;*/
    /*margin: 0 auto;*/
    /*align-self: center;*/
    /*padding: 10px;*/
    /*justify-content: space-between;*/
    /*top: 15px;*/
    /*width: 100px;*/
}
<<<<<<< HEAD
=======
.title-title {
    /*margin-left: 10px;*/
    /*margin: 0 auto;*/
    /*align-self: center;*/
    /*padding: 10px;*/
    /*justify-content: space-between;*/
    /*top: 15px;*/
    /*width: 100px;*/
}
>>>>>>> 9373e6bafbc8615b197a38b0525bf49cf3cb182c
.connect-another {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*margin-left: 10px;*/
    /*margin: auto;*/
    /*justify-content: space-between;*/
    /*width: 100px;*/
}

.wheel {
    /*margin-left: 10px;*/
    /*margin: auto;*/
    /*justify-content: space-between;*/
    /*width: 100px;*/
    /*align-content: center;*/
    margin: 0 auto;
}
.slider {
    /*margin-left: 10px;*/
    /*margin: auto;*/
    /*justify-content: space-between;*/
    /*width: 100px;*/
    /*align-content: center;*/
    margin: 0 auto;
<<<<<<< HEAD
    padding-bottom: 10px;
=======
>>>>>>> 9373e6bafbc8615b197a38b0525bf49cf3cb182c
}

#on-off {
    background-color: #fff;
}
#title {
    font-family: 'Fredoka One';
<<<<<<< HEAD
    font-size: 26px;
    color: #4d4d4d;
=======
    font-size: 22px;
    color: #333333;

>>>>>>> 9373e6bafbc8615b197a38b0525bf49cf3cb182c
/*    margin: auto;
    align-self: center;*/
    /*align-content: center;*/
}

#values {
    font-family: 'Fredoka One';
    line-height: 150%;
    margin: 0 auto;
    color : #6d6d6d; 
}